# Table of Contents

01 Importing Libraries <br />
02 Importing Data <br />
03 Dataframe Merging <br />
04 Data Exporting

# 01 Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
# Creating basic CSV path
path = r'C:\Users\Rajit\Python\11-2023 Instacart Basket Analysis'

In [6]:
# Importing orders_products_combined.pkl
df_ords_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Importing products_clean.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'),index_col = False)

# 03 Dataframe Merging

In [7]:
df_ords_prod_comb.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
df_ords_prod_comb.shape

(32434489, 11)

## Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [19]:
# Merging ords_prod_comb and df_prods based on 'product_id'
df_merged = df_prods.merge(df_ords_prod_comb, on = 'product_id', indicator = 'exists')

In [20]:
df_merged.head(30)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,both
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,1,7,26.0,7,0,both,both
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,2,14,30.0,2,0,both,both
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,3,10,30.0,1,0,both,both
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,1,20,19.0,1,0,both,both
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,1,12,15.0,2,1,both,both
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,1,5,11,NaN,1,0,both,both
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,36,3,13,7.0,1,0,both,both
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,38,4,13,7.0,3,1,both,both
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,39,2,12,12.0,4,1,both,both
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,6,3,10,2.0,8,0,both,both
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,23938,186761,1494,7,2,8,6.0,18,1,both,both
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,23940,317121,1494,9,5,8,10.0,12,1,both,both
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,24740,200390,1540,4,2,0,7.0,10,0,both,both
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,24741,374436,1540,5,1,21,6.0,9,1,both,both
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,24742,2920553,1540,6,1,0,14.0,9,1,both,both
20,0,1,Chocolate Sandwich Cookies,61,19,5.8,24743,2813049,1540,7,2,2,8.0,7,1,both,both
21,0,1,Chocolate Sandwich Cookies,61,19,5.8,24744,2365998,1540,8,1,23,6.0,6,1,both,both
22,0,1,Chocolate Sandwich Cookies,61,19,5.8,24745,1604797,1540,9,1,3,28.0,6,1,both,both
23,0,1,Chocolate Sandwich Cookies,61,19,5.8,24750,2799665,1540,14,1,14,7.0,10,1,both,both
24,0,1,Chocolate Sandwich Cookies,61,19,5.8,24751,2228851,1540,15,1,14,7.0,3,1,both,both
25,0,1,Chocolate Sandwich Cookies,61,19,5.8,24754,2337422,1540,18,0,21,0.0,5,1,both,both
26,0,1,Chocolate Sandwich Cookies,61,19,5.8,24755,2699008,1540,19,0,22,7.0,11,1,both,both
27,0,1,Chocolate Sandwich Cookies,61,19,5.8,24756,1914830,1540,20,0,22,7.0,11,1,both,both
28,0,1,Chocolate Sandwich Cookies,61,19,5.8,24757,783503,1540,21,0,20,7.0,5,1,both,both
29,0,1,Chocolate Sandwich Cookies,61,19,5.8,24758,2500516,1540,22,0,22,7.0,15,1,both,both

In [22]:
df_merged['exists'].value_counts()

exists
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [21]:
df_merged.shape

(32404859, 17)

# Data Exporting

In [ ]:
#Export df_merged in pkl format
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))