# Table of Contents

01 Importing Libraries <br />
02 Importing Data <br />
03 Data Merging <br />
04 Data Exporting

# 01 Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
#Setting up Basic CSV Path
path = r'C:\Users\Rajit\Python\11-2023 Instacart Basket Analysis'

In [4]:
# Importing Data Sets
# Import "orders_wrangled.csv" data set into notebook using os library
df_ords = pd.read_csv(os.path.join(path, '02 Data' , 'Prepared Data', 'orders_wrangled.csv'),index_col = False)
# Import "orders_products_prior.csv" data set into notebook 
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'),index_col = False)

# 03 Data Merging

In [5]:
# Check orders_prior output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check Shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [8]:
# Merge df_ords_prior and df_ords using 'order_id'
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# 04 Exporting Dataset

In [13]:
#Export df_merged_large in pkl format
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [15]:
df_merged_large.shape

(32434489, 11)